@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif;
}
.full-screen-image {
	min-height: 100%;
	min-width: 100%;
	overflow: hidden;
	-webkit-filter:brightness(50%);
	-moz-filter:brightness(50%);
	filter: url(#brightness); /* required for FF */
	filter:brightness(50%);
}
ul {
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #82d435;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: rgb(51, 146, 207);
}

.video-text {
	z-index: 5;
}
#video-background video {
	overflow: hidden;
	min-width: 100%;
	min-height: 100%;
}
